{% extends "base.html" %}

{% block content %}

<div class="container pyxelart">
    <h1>Welcome to PyxelArt</h1>
    <div class="bodytext">Select an image or video to be re-rendered as Pyxelated, Greyscaled or ASCII'ified</div>
    <form id="fileSelectForm" action="settings" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-4">
                <input class="form-control" type="file" id="fileSelection" name="fileSelection">
            </div>
            <div class="col-xl-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}