{% extends "base.html" %}

{% block content %}

<p>What is PyxelArt? Or moreso, <i>why?</i></p>

<p>In a post-COVID, Zoom-centered world, where substituted and blurred backgrounds are all the rage, my team got to
    talking during SCRUM one day about turning our live video into an ASCII art intrepretation of our office.</p>

<p>PyxelArt came from that inspiration. While today the dream of a live video filter turning you into a Matrix-like
    version of yourself may never happen, the desire to turn any image into ASCII Art and then any video into same is
    what you see today.</p>

<p>PyxelArt allows you to upload an image or video file, and turn it into a pixel'ized version of itself, a greyscale
    rendering of same or ASCII art. I have attempted to give the user full control over all the variables that allow the
    process to operate. You can change the granularity/resolution of the pixelation process, the font and colors for the
    text overalys and even a simplified or complex ASCII character set.</p>

<p>The system isn't perfect and there are no security measures on file uploads. This was meant to be a fun little
    project to entertain you for a short while. I hope you enjoy it!</p>

<p>You can read more about the project in the <a href="/roadmap">Road Map</a> as well as learn how you can contribute.
</p>

{% endblock %}